<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bayesian clsssifier</title>
    <link rel="stylesheet" href="static/styles/style.css">
    <link rel="icon" type="image/png" href="static/images/icon_classifier.png">
</head>
<body>
    <h1>Welcome to the Server</h1>
    <p>This is a static HTML page served by the server.</p>
    <p>Feel free to explore the content and styles.</p>
    <p>Check the console for any messages.</p>
    <p>Enjoy your stay!</p>
    <button onclick="loadFile()">Click Me</button>
    <div id="select-container"></div>
    <script src="static/scripts/script.js"></script>
</body>
</html>